body {
	background-color: #752723;
	font-family:Bradley Hand ITC, Verdana, Helvetica;
	font-size:20px;
	padding: 0 130px 0 130px;
	border-top: 15px solid #000000;
}	
.logo img{
	width: 1024px;
	height: 150px;
	padding: 0 5% 0 5%; 
}
section {
	color: white;
	font: normal bold 30px/1.2em Bradley Hand ITC, Verdana, Helvetica;
	background-image: url(../images/trabalhe.png);
	background-position: center;
	background-size: 100% 100%;
	padding: 50px 0 50px 0;
	border-top: 1px solid #c0c0c0;
	line-height: 60px;
}
section  h2 {
	text-align: center
}