/*Padrão das páginas*/
body {
	background-color: #752723;
	font-family:Bradley Hand ITC, Verdana, Helvetica;
	font-size:20px;
	padding: 0 130px 0 130px;
	border-top: 15px solid #000000;
}	
/*Parte do logo*/
.logo img{
	width: 1024px;
	height: 150px;
	padding: 0 5% 0 5%; 
}
/*Parte do menu*/
nav	{
	width: 100%; /* Abrange toda a largura da pagina */
	height: 50px; 
	margin: 0; /* Retira os espacos entre a tela e o menu */
	z-index: 99; /* Mantém o menu acima de outros elementos da pagina */
	position: relative; 
	background-color: #752723; /* Aplica a cor vinho no fundo */
	padding: 0 0 20px 0;
}
	
.navbar	{
	height: 50px;
   	padding: 0 0,4cm 0 0,4cm;
	margin: 0	;
	position: absolute; /* Garante que menu nao afeta outros elementos da pagina */
}
.navbar li {
	height: auto;
	width: 150px;  /* Cada item de menu terá 150px de largura */
	float: left;  /* Organiza os itens de menu horizontalmente */
	text-align: center;  /* Mantem o alinhamento de todo o texto no centro do box */
	list-style: none;  /* Remove o estilo padrao da lista (bullets) */
	font: normal bold 19px/1.2em Bradley Hand ITC, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #752723;
	border: 1px solid #BEBEBE; 
}
			
.navbar a	{							
	padding: 18px 0;  /* Adiciona padding na parte superior e inferior para que o texto fique centralizado verticalmente */
	text-decoration: none;  /* Remove o estilo padrao do hyperlink. */
	color: white; /* Aplica cor de texto branco. */
	display: block; /* Mostra os hiperlinks como blocos de elementos deixando toda a area clicavel e nao apenas os textos */
}
		
 .navbar li:hover, a:hover {
	background-color: #EE0000; /* Novo tom de azul para o efeito mouse over */
} 
		
li ul 	{
	display: none;  /* Esconde o menu drop-down */
	height: auto;									
	margin: 0; /* Alinha o box drop-down bem embaixo do item de menu */
	padding: 0; /* Alinha o box drop-down bem embaixo do item de menu */			
}				

.navbar li:hover ul{
	display: block; /* Mostra o menu drop-down box quando o mouse passar sobre o item de menu */
}
						
.navbar li ul li {
	background-color: #752723;
} 		
.navbar li ul li a:hover	{
	background-color: #EE0000;
}
/*Parte da Avaliação*/
section {
	color: white;
	font: normal bold 30px/1.2em Bradley Hand ITC, Verdana, Helvetica;
	border-top: 1px solid #c0c0c0;
	text-align: center;
	padding: 200px 0 200px 0;
	background-image: url(unidades.png);
	background-size: 100% 100%;
}
section ul li {
	list-style: none;
}
	/******Citações******/
footer {
	border-top: 1px solid #c0c0c0;	
	font: normal bold 16px/1.2em Bradley Hand ITC, Verdana, Helvetica;
	color: white;
}
.rodape {
	margin-top: 1px solid #c0c0c0;
	margin-bottom: 1px solid #c0c0c0;
}
.thiago {
	width:33%;
	float: left;
}
.jonatas {
	width:33%;
	float: left;
}
.curso {
	width:33%;
	float: left;
}